#!/bin/bash

# Check for various OS openers. Quit as soon as we find one that works.
for opener in browser-exec xdg-open cmd.exe cygstart "start" open; do
	if command -v $opener >/dev/null 2>&1; then
		if [[ "$opener" == "cmd.exe" ]]; then
			# shellcheck disable=SC2139
			alias open="$opener /c start";
		else
			# shellcheck disable=SC2139
			alias open="$opener";
		fi
		break;
	fi
done

alias g="git"
alias k="kubectl"
alias watch="watch "

# Decode JWT header
alias jwth="decodejwt 1"

# Decode JWT Payload
alias jwtp="decodejwt 2"
